*{
    margin: 0%;
    padding: 0%;
    font-family: 'Roboto' , sans-serif;
}
.Container{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)) , url(images/background.png);
    background-position: center;
    background-size: cover;
    padding-left: 8%;
    padding-right:8% ;
    box-sizing: border-box;

}
.Navbar{
    height: 12%;
    display: flex;
    align-items: center;
}
.Logo{
    width: 50px;
    cursor: pointer;

}
.Menu-icon{
    
    width: 30px;
    cursor: pointer;
    align-items: right;
    
}

  nav{
    flex: 1;
    text-align: right;
    
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 60px;
    
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 13px;
}
.row{
    display: flex;
    height: 33%;
    align-items: baseline;
}
.col{
    flex-basis: 50% ;
    align-items: center;
}
h1{
   color: #fff;
   font-size: 100px;
   display: flex;
   align-content: flex-end;
}
p{
    color: #fff;
    font-size: 14px;
    line-height: 20px;
}
button{
    width: 180px; ;
    color: #000; ;
    font-size: 12px;
    padding:12px ;
    background:#fff ;
    border: 0;
    border-radius: 20px;
    outline: none;
    margin-top: 30px;
}
.card{
    
    width: 300px;
    height: 230px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px  25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-image: url(images/pic-1.png);
    background-position: center;
    background-size: cover;
    transition: transform 0.5s;
    
   
}    
.col_1{
   margin-left: 100px;
   display: flex;
   flex-direction: row;
   justify-content:center;
   align-items:center;
   color: #000;
   text-shadow: #000;
}

.card_1{

    background-image: url(images/pic-4.png);
    
   
    
}
.card_2{
    background-image: url(images/pic-3.png);
}
.card_3{
    background-image: url(images/pic-1.png);
}
.button:hover {
    background-color: #555555;
    color: white;
}
.card:hover{
    transform: translateY(-10px);
}
.card p {
    text-shadow: 0 0 100px #000;
    font-size: 15px;
}

